/*.container{
	display:flex;
	flex-direction: cloumn;
    border: solid red 1px;
	
}*/
.itemdirectory{
		border: solid black 1px;
}
.container{
    border: solid black 1px;
	display:flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:stretch;
	 border: solid red 1px;
	
		
}
.itemsDirectory{
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	flex-grow: 4;
	flex-shrink:3;
	align-items:stretch;
	 border: solid red 1px;
	
}

.item{
	display:flex;
	flex-direction: column;
	justify-content:space-around;
	flex-grow: 4;
	flex-shrink:3;
	align-items:stretch;
	 border: solid red 1px;
}
.containerButton{
	display:flex;
	flex-direction: column;
	justify-content:space-evenly;
	flex-grow: 4;
	flex-shrink:3;
	align-items:stretch;
	 border: solid red 1px;
}

