.container{
	display:flex;
	flex-direction: column;
	    border: solid red 1px;
	
}
.itemdirectory{
		border: solid black 1px;
}
.maincontainer{
    border: solid black 1px;
	display:flex;
	flex-direction: row;
	justify-content:flex-start;
	align-items:stretch;
	border: solid black 
		
}
ul#directory li{display: inline;}
