.container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;		
}
.item{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;		
}
#signin{
	margin:10px;
}

