.question {
  text-align: left;
  margin: 5px 0 15px 0;
  border-width: 1px;
}

.h2-register {
  text-align: center;
  margin: 30px 0 30px 0;
  font-size: 40px;
}


.container-admin {
  margin-top: 30px;
  overflow-y: hidden;
  max-height: 750px;
}

.container-questionnaire {
  max-width: 800px;
  margin-top: 20px;
}

.questionnaire-title {
  margin: 30px 0 30px 0;
  text-align: center;
}

.questionnaire-image {
  margin-top: 30px;
  max-height: 500px;
  width: 100%;
}

.bg-white {
  background-color: white;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
}

.modal {
  padding-left: 160px;
}

body .modal-dialog {
  /* Width */
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  min-width: 240px;
}

.modal {
  z-index: -1;
  display: flex !important;
  min-width: 240px;
}

.modal-open .modal {
  z-index: 1050;
}

.sidenav-button {
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: x-large;
  font-weight: 500;
  flex: 1;
}

.sidenav-button:hover,
.sidenav-button:active,
.sidenav-button:focus,
.sidenav-button:visited {
  color: white !important;
  background-color: #007bff !important;
}

.optional-answers-scrollable::-webkit-scrollbar {
  width: 2px;
}

.optional-answers-scrollable::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 

  border-radius: 10px;
}

.optional-answers-scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.protip-div {
  margin-left: 12px;
  position: absolute;
  bottom: 65px;
  color: white;
}

.sidenav-image {
  max-width: 90%;
  max-height: 150px;
  margin: 15px 25px;
}

.optional-answers-scrollable {
  margin-top: 20px;
  max-height: 69%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidenav-admin {
  color: #007bff;
  position: fixed;
  width: 100%;
  min-height: 50px;
  bottom: 0;
  z-index: 99;
}

.list-group-item {
  text-align: center;
}

.btn-female {
  border-color: #7307f7 !important;
  color: #7307f7 !important;
}

.canceled-users {
  pointer-events: none;
}

.answers-card {
  margin: 0 0 10px 0;
}

.btn-stats {
  pointer-events: none;
  flex: 1;
  margin: 0 6px 0 6px;
}

.btn-stats-md {
  flex: 2;
}

.stats-row {
  max-height: 100px;
  margin-right: -5px;
  margin-left: -5px;
}

.slide-out {
  animation: slide-out 5s forwards, fadeOutOpacity 0.65s;
  -webkit-animation: slide-out 5s forwards, fadeOutOpacity 0.65s;
}

.fade-in {
  position: absolute;
  top: 0;
  left: 150px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.85s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
